body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* 其他样式不变 */

#user {
    text-align: center;
    
}

.section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.font-change-btn {
    font-size: 20px;
}
.search-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
  }

.search-bar button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
}

.price-slider {
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.stepper-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    flex: 1;
    text-align: center;
    color: #555;
}

.stepper-item.completed {
    color: #333;
}

.form-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #eee;
    display: none;
}


.signature {
    list-style: none;
    padding: 0;
}

.signature li {
    display: inline;
    margin-right: 10px;
}

.signature a {
    color: #fff;
    text-decoration: none;
}

.tab {
    list-style: none;
    background-color: #ffff;
}

.tab li {
    display: inline;
    font-size: 18px;
    margin-right: 10px;
}

.tab :hover {
    color: #01447e;
    text-decoration: underline;
}


.transparent-button {
    background-color: transparent;
    border: 1px solid transparent;
    color: #000; 
    cursor: pointer; 
}

#user-button,
#products-button,
#cart-button {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: #000 !important;
}

.price-slider {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #ccc; /* 添加外框 */
    padding: 10px; /* 添加内边距 */
}


.min-price,
.max-price {
    justify-content: space-between;
    margin-bottom: 10px;
    color: #333; /* 设置价格标签的颜色 */
}

#priceRangeValue {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #009688; /* 设置价格范围值的颜色 */
}

