.section{
    font-size: 20px;
}
.selected{
    background-color: #f5f5f5;

}
.signature{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 1px;
    margin-top: 3px;
    font-style: italic;
    padding: 0;
    list-style-type: none;

}
.signature li {
    display: inline-block; /* 或者使用 "inline" */
    margin-right: 10px; /* 添加右边距来分隔列表项 */
}
ul.signature li {
    margin-left: 20px;
    margin-right: 20px;
}

ul.signature li:first-child {
    margin-left: 0;
}

ul.signature li:last-child {
    margin-right: 0;
}

body{
    height: 100%;

    font-family:Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("img/hertaa1.gif");
    background-position: center;

}

header{
    background-color: aquamarine;
}

.tab{
    overflow: hidden;
    border: 1px solid #808080;
    background-color: aquamarine;

}
.tab button{
    background-color: inherit;
    float: initial;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 25px;
    transition: 0.3s;
    font-size :25px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active{
    background-color: coral;
}

#userType{
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#product-selection{
    font-size: 30px;
}
#select-submission{
    font-size: 20px;
}
#select-submission:hover {
    background-color: aquamarine; /* Darker shade for hover effect */
}
#cart{
    font-size: 30px;
}
